docopt==0.6.2
flask-api==3.1
flask-bcrypt==1.0.1
flask-caching==2.0.2
flask-cors==4.0.0
flask-marshmallow==0.15.0
flask-migrate==4.0.4
marshmallow-sqlalchemy==0.29.0
pip-chill==1.0.3
psycopg2-binary==2.9.6
pymilvus==2.2.13
python-jose==3.3.0
redis==4.6.0
sentence-transformers==2.2.2
yarg==0.1.9
hnswlib
youtube-transcript-api