alembic
Flask
flask_api
flask_bcrypt
flask_cors
flask_marshmallow
flask_migrate
flask_sqlalchemy
psycopg2-binary
python-jose
marshmallow
marshmallow_sqlalchemy
pymilvus
python-dotenv
sentence_transformers
SQLAlchemy
torch